*,
*::before,
*::after{
    margin= 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:; */

} 
:root{
  /* s-dk-violet: hs(268); */
} 
.container{
    width: 100vw;
   height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(ellipse at 50% 50%, rgba(2, 2, 150, 1) 0%, rgba(238, 130, 238, 1) 100%);
}

h1{
  color:whitesmoke;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing:2px ;
    text-align: center;
    line-height: 1.2;
}
.display-conatiner{
    position: relative;
    background-color: blueviolet;
    border-radius: 1rem;
border-bottom: solid;

}